* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_categoria {
    background: lightpink;
    padding: 15px 20px;
    width: 100%;
}

.container_categoria-title {
    background: lightslategray;
    outline: 1px solid black;
    display: inline-block;
    font-size: 18px;
    padding: 5px 3px;
}

.container_categoria-lista {
    background: lightyellow;
    padding: 5% 8% 8%;
}

.container-item {
    background: lightskyblue;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 120px;
    width: 100%;
}