.container-item-img {
    background: lightgreen;
    margin: 0px 10px;
    padding: 0px;
    height: 100%;
}

.container-item-title {
    background: lightsalmon;
    height: 20%;
    font-size: 15px;
    margin-top: inherit; /*84%*/
}