* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container-header {
  align-items: center;
  background: lightgreen;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px 15px;
}

.container-header_logo {
  background: lightseagreen;
  display: flex;
  justify-content: center;
  margin: 0px 0px 15px;
  outline: 1px solid black;
  width: 50%;
}

.container-header_nav {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.container-menu {
  display: flex;
  height: 40px;
  width: 100%;
}

.container-menu_item {
  align-items: center;
  background: black;
  border-radius: 5px 5px 5px 5px / 0px 0px 5px 5px;
  display: flex;
  height: 40px;
  color: white;
  flex: 1;
  font-size: 17px;
  list-style: none;
  padding: 0px 6px;
  text-align: center;
  width: auto;
}

.container-menu_item:hover {
  flex: 1.7;
  font-weight: bold;
}