/* src="https://goo.gl/maps/6tJRcgCrW8BiLxsU7" */
/* src="https://n9.cl/hercor-helmets" */
/* href="mailto:hercorherlmets@gmail.com?Subject=INTERESADO%20EN%20COMPRAR%20PRODUCTOS" */

.container-footer {
  background: rgb(66, 61, 61);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0px;
  padding: 20px 10px;
  width: 100%;
}

.container-footer_boxOne {
  display: flex;
  justify-content: center;
  border-right: 3px solid white;
  width: 50%;
}

.container-footer_boxOne li {
  margin: 10px 3px;
  list-style: none;
}

.container-footer_boxTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 3px solid red;
  width: 50%;
}

.container-footer_boxTwo li {
  margin: 10px 3px;
  list-style: none;
}
